.container{
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:crimson
}

body{
    background-image: url(https://fondosmil.com/fondo/52714.jpg);
}

.form{
    background-color: rgb(85, 81, 81);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

